@using AccountManager.Blazor.Components.Modals
@using AccountManager.Core.Enums
@using AccountManager.Core.Interfaces
@using AccountManager.Core.Services
@using AccountManager.Blazor.Components
@using AccountManager.Core.Static
@using AccountManager.Infrastructure.Services
@using Microsoft.Extensions.Caching.Distributed
@inherits LayoutComponentBase
@inject IAuthService _authService; 
@inject IAlertService _alertService; 
@inject IDistributedCache _persistantCache
@inject IJSRuntime _jsRuntime
@inject IAppUpdateService _appUpdateService
@inject NavigationManager _navManager

<div class = "notification">
	@if (updateAvailable)
	{
		<div class="alert alert-info" style="animation: inherit;" role="alert">
			<a @onclick="() => updateAvailable = !updateAvailable" class="close">X</a>
			There is an update available. Click restart to open the new version.
			<a style="margin-left: 10px" href="" @onclick="async () => { await _appUpdateService.Update(); }">Restart</a>
		</div>
	}

	@foreach(var errorMessage in _alertService.GetErrorAlerts()){
		<div class="alert alert-danger" role="alert">
			<a @onclick="() => _alertService.RemoveErrorMessage(errorMessage)" class="close">X</a>
			@errorMessage.DisplayMessage
		</div>
	}

	@foreach(var infoMessage in _alertService.GetInfoAlerts()){
		<div class="alert alert-info" role="alert">
			<a @onclick="() => _alertService.RemoveInfoMessage(infoMessage)" class="close">X</a>
			@infoMessage.DisplayMessage
		</div>
	}
</div>


@if (settingsModalOpen)
{
	<SettingsModal Close="@(() => {settingsModalOpen = false; _navManager.NavigateTo(_navManager.Uri, forceLoad: true); })"></SettingsModal>
}

@foreach (var request in _alertService.GetTwoFactorAuthRequests())
{
	<TwoFactorAuthModal Request="request"></TwoFactorAuthModal>
}
@if (_authService.LoggedIn){

    <div class="page" style="width: 100%">
		<div class="sidebars-container" >
			<div class="sidebar" style="z-index: 3">
				<NavMenu ToggleSettingsModal="() => settingsModalOpen = !settingsModalOpen" ToggleFilterSidebar="@(ToggleFilterSidebar)" />
			</div>
			<div style="@filterSidebarStyle">
				<FilterSidebar style="width:188px" />
			</div>
		</div>
		<main class="main-content" style="width: calc(100% - 238px);">
			<div class="top-shadow"></div>
			<article style="overflow: hidden;" class="content px-4">
				@Body
			</article>
		</main>
	</div>
}
else if (_authService.AuthInitialized)
{
	<form class="login-form">
		<div>
			<span class="oi oi-lock-locked"></span>
			<h3>Enter Passcode</h3>
			<div class="form-group">
				<input type="password" class="form-control" id="password" @bind-value=Password placeholder="Password">
			</div>

			<div class="checkbox-container">
				<input @onchange="RememberMeChanged" style="margin-top:0px;" class="form-check-input" type="checkbox" id="rememberPasswordCheckbox" checked="@(RememberMe)">
				<label class="form-check-label" for="rememberPasswordCheckbox">
					Remember Password
				</label>
			</div>

			<button type="submit" class="btn btn-dark" @onclick=LoginAsync>
				Login
			</button>
		</div>
	</form>
}
else {
	<form class="login-form">
		<div>
			<span class="oi oi-lock-unlocked"></span>
			<h3>Create Passcode</h3>
			<div class="form-group">
				<input type="password" class="form-control" id="password" @bind-value=Password placeholder="Password">
			</div>
			<button type="submit" class="btn btn-dark" @onclick=RegisterAsync>Register</button>
		</div>
	</form>
}

